body {
    font-size: 100%;
    background-image: url("images/pageBG.png");
}
p {
    color: grey;
    font: 1rem SourceSansPro Regular;
    text-align: center;
}
@font-face {
    font-family: SourceSansPro Blod;
    font-style: normal;
    font-weight: 900;
    src: url("fonts/SourceSansPro/SourceSansProBold/SourceSansProBold.ttf");
}
@font-face {
    font-family: SourceSansPro Regular;
    font-style: normal;
    font-weight: 900;
    src: url("fonts/SourceSansPro/SourceSansProRegular/SourceSansProRegular.ttf");
}
hr {
    height: 1px;
    border: none;
    width: 90%;
    color: #c2c2c2;
    background-color: #c2c2c2;
    margin-top: auto;
}

.central-layer {
    position: relative;
    top: -50px;
    width: 90%;
    max-width: 1100px;
    height: 2300px;
    background: #ebebeb;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: auto;
}
.site-name {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 90px;
    margin: auto;
    background: #ebebeb;
    border-radius: 10px 10px 10px 10px;
    top: 70px;
    left: 5px;
    z-index: 2;
}
.shadow-site-name {
    margin: auto;
    position: relative;
    top: -10px;
    width: 30%;
    max-width: 200px;
    height: 90px;
    background: #d3d3d3;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}
.text-site-name {
    font: 2.2rem SourceSansPro Blod;
    text-align: center;
    position: relative;
    margin: auto;
    top: 25%;
}

.menu {
    margin: auto;
    position: relative;
    top: 50px;
    align-content: center;
    text-align: center;
}
a.buttons-menu {
    font: 1.2rem SourceSansPro Regular;
    color: gray;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    outline: none;
    border-radius: 1em;
    background-image:
            radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6), transparent),
            radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6), transparent);
}
a.buttons-menu:hover {
    color: red;
    background-image:
            radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6), transparent),
            radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6), transparent);
}
a.buttons-menu:active {
    background-image:
            radial-gradient(45% 45% at 50% 100%, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0)),
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .3));
}

.block {
    width: 100%;
    max-width: 1100px;
    height: 430px;
    margin: auto;
    position: relative;
    float: left;
    top: 50px;
    align-content: center;
}
.banner {
    left: 5%;
    top: 5%;
    margin: auto;
    float: left;
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 350px;
    border-radius: 10px 0px 10px 10px;
    z-index: 6;
    background-size: cover;
}
.shadow-banner {
    top: 6%;
    margin: auto;
    right: 1%;
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 350px;
    background: #d3d3d3;
    border-radius: 10px 0px 10px 10px;
    z-index: 5;
}

.text-position {
    margin: auto;
    float: left;
    position: relative;
    top: 50px;
    width: 100%;
    max-width: 1100px;
    height: 120px;
    text-align: center;
}
.text {
    font: 2.4rem SourceSansPro Blod;
    font-weight: 700;
}

.block-readmore {
    top: 2%;
    width: 100%;
    max-width: 1100px;
    height: 100px;
    margin: auto;
    position: relative;
    float: left;
}
.text-readmore {
    font: 0.9rem SourceSansPro Blod;
    text-align: center;
    position: relative;
    margin: auto;
    top: 20%;
}
.button-readmore {
    margin: auto;
    position: relative;
    color: #ebebeb;
    font: 10pt SourceSansPro Blod;
    width: 11%;
    max-width: 100px;
    height: 30px;
    background: #ed3237;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    z-index: 7;
}
.shadow-button-readmore {
    margin: auto;
    position: relative;
    left: -0.5%;
    top: -27%;
    width: 11%;
    max-width: 100px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 5px 5px 5px 5px;
    z-index: 6;
}
.background-button-readmore {
    position: relative;
    margin: auto;
    width: 15%;
    max-width: 120px;
    height: 40px;
    top: -65%;
    background: #ebebeb;
    z-index: 5;
}
.three-lines {
    top: 32%;
    position: relative;
    text-align: center;
}

.space-before-images {
    width: 100%;
    max-width: 1100px;
    margin-top: 10%;
    float: left;
}
.descriptions-image {
    width: 9%;
    max-width: 90px;
    height: 70px;
    float: left;
    margin-left: 2%;
}
.descriptions-image-right {
    width: 22%;
    max-width: 220px;
    float: left;
    margin-left: 15px;
}
.icons {
    font: 2rem SourceSansPro Blod;
    text-align: center;
    position: relative;
    margin: auto;
    top: 15%;
}
.image {
    text-align: center;
    position: relative;
    margin: auto;
    right: -10%;
    width: 80%;
    max-width: 80px;
    height: 60px;
    border-radius: 10px 0px 10px 10px;
    z-index: 6;
    background-size: cover;
    background-color: #373435;
    color: #ebebeb;
}
.shadow-position-image {
    margin: auto;
    right: -5px;
    position: relative;
    top: -55px;
    width: 80%;
    max-width: 80px;
    height: 60px;
    border-radius: 10px 0px 10px 10px;
    z-index: 5;
    background-color: #d3d3d3;
}
.description-text {
    position: static;
    text-transform: uppercase;
    color: #282828;
    font: 1.1em SourceSansPro Blod;
    text-align: left;
    font-weight: 600;
}
.more-info-button {
    color: red;
    font: 0.9em SourceSansPro Blod;
}
.description {
    text-align: left;
}

.central-three-blocks {
    margin: auto;
    position: relative;
    width: 900px;
    max-width: 100%;
    height: 450px;
    z-index: 6;
    background-size: cover;
}
.space-three-blocks {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1100px;
    height: 450px;
}
.shadow-three-box-on-line {
    float: left;
    margin: 0 2% auto;
    position: relative;
    width: 30%;
    max-width: 250px;
    height: 450px;
    border-radius: 2% 0% 2% 2%;
    z-index: 6;
    background-size: cover;
    background-color: #d3d3d3;
}
.three-box-on-line {
    float: left;
    margin: auto;
    position: relative;
    width: 100%;
    left: 5%;
    bottom: 2%;
    max-width: 250px;
    height: 450px;
    border-radius: 2% 0% 2% 2%;
    z-index: 5;
    background-size: cover;
    background-color: #e2e2e2;
}
.space-three-box {
    width: 150px;
    height: 10px;
    float: left;
}
.text-three-box {
    font: 1.2rem SourceSansPro Blod;
    margin-top: 15%;
    margin-left: 10%;
    color: #5D5D5D;
}
.size-image {
    margin-top: 10%;
    width: 100%;
    max-width: 250px;
    background-size: cover;
    background-color: #0d3349;
}
.space {
    margin-top: 5%;
    margin-left: 10%;
}
.space P {
    text-align: left;
}

.box {
    width: 1100px;
    height: 200px;
    margin: auto;
    float: left;
    position: relative;
    text-align: center;
}
.text-products {
    width: 100%;
    max-width: 1100px;
    height: 60px;
    top: 3%;
    margin: auto;
    float: left;
    position: relative;
    text-align: center;
    font: 1.4rem Tahoma;
    color: #ed3237;
}
.group-products {
    width: 100%;
    max-width: 1100px;
    height: 150px;
    top: 3%;
    margin: auto;
    float: left;
    position: relative;
    text-align: center;
}
.group-products div {
    font: 1rem SourceSansPro Blod;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    background-color: #d3d3d3;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 5px 5px 5px 5px;
    z-index: 5;
}
.group-products-shadow {
    width: 100%;
    max-width: 1100px;
    height: 10px;
    top: -3.7%;
    left: 3px;
    margin: auto;
    float: left;
    position: relative;
    text-align: center;
}
.group-products-shadow div {
    font: 1rem SourceSansPro Blod;
    text-align: center;
    text-transform: uppercase;
    left: 5px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d3d3d3;
    background-color: #ebebeb;
    z-index: 6;
}

.footer {
    margin: auto;
    height: 100px;
    color: white;
    position: relative;
    padding-top: 1%;
    text-align: center;
}