body {
    background-image: url("images/pageBG.png");
}
p {
    color: #282828;
    font: 12pt sans-serif;
    text-align: center;
}

.line-style {
    width: 998px;
    color: #c2c2c2;
}
.central-layer {
    width: 1100px;
    height: 2100px;
    background: white;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
}

.site-name {
    width: 200px;
    height: 50px;
    margin: auto;
    background: white;
    border: solid 1px black;
    border-radius: 10px 10px 10px 10px;
    top: 70px;
    left: 5px;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.shadow-site-name {
    margin: auto;
    position: relative;
    top: 25px;
    width: 200px;
    height: 50px;
    background: #d3d3d3;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}
.text-style-site-name {
    font: 14pt sans-serif;
    font-weight: 900;
    text-align: center;
}

.menu {
    margin: auto;
    position: relative;
    top: 50px;
    align-content: center;
    left: 300px;
}

.banner {
    margin: auto;
    right: -50px;
    float: left;
    position: relative;
    top: 70px;
    width: 1000px;
    height: 250px;
    border-radius: 10px 0px 10px 10px;
    z-index: 6;
    background-image: url("images/baner.png");
    background-size: cover;
}
.shadow-banner {
    margin: auto;
    right: 10px;
    position: relative;
    top: 75px;
    width: 1000px;
    height: 250px;
    background: #d3d3d3;
    border-radius: 10px 0px 10px 10px;
    z-index: 5;
}

a.buttons-menu {
    color: gray;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    outline: none;
    border-radius: 1px;
    background-image:
            radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6), transparent),
            radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6), transparent);
}
a.buttons-menu:hover {
    color: red;
    background-image:
            radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6), transparent),
            radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6), transparent);
}
a.buttons-menu:active {
    background-image:
            radial-gradient(45% 45% at 50% 100%, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0)),
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .3));
}

.text-position {
    margin: auto;
    right: -50px;
    float: left;
    position: relative;
    top: 110px;
    width: 1000px;
    height: 150px;
    text-align: center;
}
.text-style {
    font: 16pt sans-serif;
    font-weight: 700;
}

.button-readmore {
    position: relative;
    color: white;
    font: 8pt sans-serif;
    font-weight: 900;
    vertical-align: middle;
    display: table-cell;
    left: -500px;
    top: 230px;
    width: 100px;
    height: 30px;
    background: #ed3237;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    z-index: 7;
}
.shadow-button-readmore {
    position: relative;
    top: 203px;
    left: 497px;
    width: 100px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 10px 10px 10px 10px;
    z-index: 6;
}
.background-button-readmore {
    position: relative;
    top: 170px;
    left: 488px;
    width: 120px;
    height: 40px;
    background: white;
    z-index: 5;
}
.three-lines {
    margin: auto;
    right: -50px;
    float: left;
    position: relative;
    top: 75px;
    width: 1000px;
    text-align: center;
}

.space-before-images {
    margin-top: 100px;
    float: left;
}
.descriptions-image {
    width: 110px;
    float: left;
    margin-left: 15px;
}
.descriptions-image-right {
     width: 220px;
     float: left;
     margin-left: 15px;
}
.position-image {
    right: -10px;
    float: left;
    position: relative;
    top: 5px;
    width: 80px;
    height: 60px;
    border-radius: 10px 0px 10px 10px;
    z-index: 6;
    background-size: cover;
}
.shadow-position-image {
    margin: auto;
    right: -5px;
    float: left;
    position: relative;
    top: -50px;
    width: 80px;
    height: 60px;
    border-radius: 10px 0px 10px 10px;
    z-index: 5;
    background-color: #d3d3d3;
}
.style-description-text {
    text-transform: uppercase;
    color: #282828;
    font: 11pt sans-serif;
    text-align: left;
    font-weight: 600;
}
.more-info {
    position: relative;
    top: 15px;
}
.more-info-button {
    color: red;
    font: 14pt sans-serif;
}
.description {
    text-align: left;
}

.footer {
    height: 100px;
    color: white;
    position: relative;
    padding-top: 20px;
    text-align: center;
}